// Copie este arquivo para secrets.h e preencha. secrets.h NÃO vai para o Git (.gitignore).
#pragma once
#define WIFI_SSID "Wokwi-GUEST"
#define WIFI_PASS ""
#define API_BASE_URL "http://172.29.224.1:3001"   // backend (IP do host visto pelo gateway do Wokwi)
#define BNDMET_API_KEY "COLE_AQUI_A_CHAVE_BNDMET"
#define OWM_API_KEY "COLE_AQUI_A_CHAVE_OPENWEATHERMAP"
